@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    font-family: Poppins, serif;
    src: url("@/assets/fonts/Poppins-BoldItalic.ttf");
}

html {
    font-family: Poppins, serif;
}